/*
img {
    height: 399px;
    width: 100%;
}
*/
.myClass {
    margin-top: 39px;
}

.border {
    border-bottom: 1px solid #ff7373;
}

.testeando {
  float: left;
  position:absolute;
  margin-left: 0;
  margin-top: 1px;
  margin-bottom: 50px;
  height: 399px;
  width: 35%;
  border-right: 1px solid white;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 2;
}

.slogan {
  color: #ff7373;
  font-weight: 100;
  padding: 0;
  width: 85%;
  margin-left: 40px;
  margin-top: 70px;
}

.info {
  margin-left: 40px;
  margin-top: 10px;
  width: 60px;
  height: 25px;
  border-radius: 5px;
  color: white;
  background-color: #ff7373;
}

h3 {
  width: 85%;
  margin-left: 40px;
  padding-top: 40px;
  color: #ff7373;
  font-weight: 100;
}

@media screen and (min-width: 320px) {
  #myCarousel {
    margin-top: 80px;
    height: 300px;
  }
  .testeando {
    display: none;
  }

  .carousel-inner {
    height: 300px;
  }

  img {
    height: 200px;
    width: 100%;
}
}

@media screen and (min-width: 400px) {
  #myCarousel {
    margin-top: 80px;
    height: 200px;
  }
  .testeando {
    display: none;
  }

  .carousel-inner {
    height: 200px;
  }

  img {
    height: 200px;
    width: 100%
  }
}

@media screen and (min-width: 480px){
  #myCarousel {
    margin-top: 65px;
    height: 300px;
  }

  .carousel-inner {
    height: 300px;
  }

  img {
    height: 300px;
    width: 100%;
  }
}

@media screen and (min-width: 660px){
    .testeando, .slogan, .info {
    display: none;
  }

  .carousel-inner {
    height: 400px;
    margin-top: 36px;
  }

  #myCarousel {
    margin-top: 0;
    height: 400px;
  }

  img {
    height: 400px;
    width: 100%;
  }
}
