/*
.horarios-wrapper {
  width: 40%;
  float: right;
}

.location {
  color: #ff7373;
  font-weight: 100;
  border-bottom: 1px solid #ff7373;
  width: 40%;
  margin-left: 50px;
  margin-top: 60px;
}

#paragraph-location {
  color: #747573;
  margin-left: 40px;
  width: 60%;
}

.dr-wrapper {
  float: left;
}

.dr-wrapper h3 {
  color: #ff7373;
  font-weight: 100;
  margin-left: 50px;
  border-bottom: 1px solid #ff7373;
  width: 40%;
}

.numero-colegiado {
  color: #ff7373;
  margin-left: 40px;
}

.parrafo {
  width: 40%;
  color: #737574;
  margin-left: 40px;
}

.telefono-callout {
  color: #747573;
  margin-left: 40px;
}

.telefono-callout span {
  color: #ff7373;
}

.email {
  color: #747573;
  margin-left: 40px;
}

.email span {
  color: #ff7373;
}

.horarios-wrapper {
  float: left;
  width: 40%;
}

.horarios {
  color: #ff7373;
  font-weight: 100;
  border-bottom: 1px solid #ff7373;
  width: 40%;
}

.website span {
  color: #ff7373;
}

.website {
  color: #737574;
  margin-left: 40px;
  display: block;
}

.horas-horarios {
  color: #ff7373;
}

.mananas {
  color: #737574;
  padding-top: 10px;
}

.tardes {
  color: #737475;
  padding-top: 10px;
}

h3 {
    display: block;
}

section {
  height: 380px;
}
*/
@media screen and (min-width: 320px){
  section {
    height: 850px;
  }

  h1 {
    color: #ff7373;
    font-weight: 100;
    margin-top: 60px;
    margin-left: 40px;
    border-bottom: 1px solid #ff7373;
  }

  .direccion {
    color: #737475;
    width: 90%;
    margin-left: 30px;
  }

  h2 {
    color: #ff7373;
    font-weight: 100;
    margin-left: 40px;
    border-bottom: 1px solid #ff7373;
  }

  span {
    color: #ff7373;
    margin-left: 30px;
  }

  p {
    color: #737475;
  }

  .derecha {
    margin-left: 30px;
  }
}

@media screen and (min-width: 400px){
  section {
    height: 850px;
  }
}

@media screen and (min-width: 480px){
  section {
    height: 850px;
  }
}

@media screen and (min-width: 660px){
  section {
    height: 680px;
    margin-top: 40px;
  }
}

@media screen and (min-width: 777px){
  section {
    height: 400px;
  }
}