<section class="container">
    <div class="row">
        <h1>Localizacion</h1>
        <p class="direccion">Nos encontramos en la siguiente direccion:
            Avenida Ramon y Cajal No 62, Sevilla, Sevilla</p>
    </div>
    <div class="row">
        <h2>Dr. Susan Hello</h2>
    </div>
    <div class="row">
        <p class="derecha">No de colegiado 1111</p>
        <p class="derecha">Avenida Ramon y Cajal No 62, Sevilla, Sevilla</p>
        <p><span>Telefono:</span> 555-55-55</p>
        <p><span>email: </span>susanhello@somecompany.com</p>
        <p><span>Sitio Web: </span> www.example.com</p>
    </div>
    <div class="row">
        <h2>Horarios</h2>
    </div>
    <div class="row">
        <p class="derecha">DE LUNES A VIERNES</p>
        <p><span>Mananas:</span> desde las 9:00 hasta las 13:30</p> 
        <p><span>Tardes:</span> desde 16:00 hasta las 21:00</p>
        <p><span>SABADOS:</span> CERRADOS</p>
    </div>
</section>