<div class="row">
    <nav class="navbar">
        <ul class="row">
            <li class="nav-item"><a class="nav-link" routerLinkActive="inUse" routerLink="/home" (click)="routerActive()">Inicio</a></li>
            <li class="nav-item"><a class="nav-link" routerLinkActive="inUse" routerLink="/especialidades">Especialidades</a></li>
            <li class="nav-item"><a class="nav-link" routerLinkActive="inUse" routerLink="/clinica">Clinica</a></li>
            <li class="nav-item"><a class="nav-link" routerLinkActive="inUse" routerLink="/opinion">Opinion</a></li>
        </ul>
    </nav>
</div>