<section class="container">
    <div class="row">
        <h1 class="location">Localizacion</h1>
        <p id="paragraph-location">Nos encontramos en la siguiente direccion:
            Avenida Ramon y Cajal No 62, Sevilla, Sevilla</p>
    </div>
    <div class="col-sm">
        <h3>Dr. Susan Hello</h3>
        <p class="numero-colegiado">No de colegiado 1111</p>
        <p class="parrafo">Avenida Ramon y Cajal No 62, Sevilla, Sevilla</p>
        <p class="telefono-callout"><span>Telefono:</span> 555-55-55</p>
        <p class="email"><span>email: </span>susanhello@somecompany.com</p>
        <p class="website"><span>Sitio Web: </span> www.example.com</p>
    </div>
    <div class="col-sm">
        <h2 class="horarios">Horarios</h2>
        <p class="horas-horarios">DE LUNES A VIERNES</p>
        <p class="mananas">Mananas: desde las 9:00 hasta las 13:30</p> 
        <p class="tardes">Tardes: desde 16:00 hasta las 21:00</p>
        <p class="horas-horarios">SABADOS: CERRADOS</p>
    </div>
</section>