<section class="container-fluid">
    <h1 id="header-especialidades">Nuestras especialidades</h1>
    <p class="paragraph-specialties">En su primera visita, un profesional cualificado va a darle 
        las mejores opciones de tratamiento que tiene a su disposición y le va a explicar qué es lo que se 
        ajusta a sus necesidades. Contamos con un equipo cuya principal prioridad es su persona, 
        su expectativa y la evaluación adecuada de su caso particular, bajo la mejor profesionalidad, 
        atendiendo a todas sus dudas e inquietudes e informándole de cuáles son las opciones adecuadas.</p>
    
        <div class="row">
            <div class="exodoncia col-md-4" (click)="onActive()" [ngStyle]="{'height': getHeight()}" 
            [@especialidadesState]="especialidadesState">
                    <p class="title">BLANQUEAMIENTO</p>
                    <div *ngIf="isActive">
                        <p class="hideFirst">El blanqueamiento dental es un procedimiento clinico que trata de 
                            conseguir el aclaramiento del color de los dientes. En nuestra clinica contamos con 
                            avanzadas tecnicas para que puedas recuperar el color de tus dientes y presumas de una 
                            bonita sonrisa.</p>
                    </div>
            </div>
    
            <div class="protesis col-md-4" (click)="onActiveSecond()" [ngStyle]="{'height': getHeightSecond()}">
                <p class="title">PROTESIS</p>
                <div *ngIf="isActiveSecond"> 
                    <p class="hideSecond"> La protesis bucal es una rama de la odontologia que se encarga de la 
                        rehabilitacion de las funciones orales, recuperando tu sonrisa y comodidad, 
                        con la realizacion adecuado tratamiento protesico. Ven a nuestra clinica y te brindaremos 
                        las mejores soluciones para que vuelva a gozar de una sonrisa perfecta </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="implantes col-md-4" (click)="onActiveThird()" [ngStyle]="{'height': getHeightThird()}">
                <p class="title">IMPLANTES</p>
                <div *ngIf="isActiveThird">
                    <p class="hideThird">Los implantes dentales se han considerado una forma efectiva para 
                        remplazar los dientes perdidos, cada dia el numero de personas que lo utilizan aumenta. 
                        Por lo que en nuestra clinica contamos con variedad de implantes y personal cualificado 
                        en el tratamiento</p>
                </div>
            </div>

            <div class="ortodoncia col-md-4" (click)="onActiveFourth()" [ngStyle]="{'height': getHeightFourth()}">
                <p class="title">ORTODONCIA</p>
                <div *ngIf="isActiveFourth">
                    <p class="hideForth" >Unete al club de las sonrisas perfectas!! Con nuestros tratamientos 
                        eliminaremos problemas de maloclusion y apinamiento de forma rapida y comoda. 
                        Especialistas en ortodoncia avanzada realizaran un plan de tratamiento que se ajuste 
                        a sus necesidades.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="endodoncia col-md-4" (click)="onActiveFifth()" [ngStyle]="{'height': getHeightFifth()}">
                <p class="title">ENDODONCIA</p>
                <div *ngIf="isActiveFifth">
                    <p class="hideFifth" >Con estos tratamientos nuestros expertos pretenden alargar la vida de 
                        tus dientes, dandote una solucion inmediata y definitiva al dolor dentario mediante el 
                        diagnostico y tratamiento de las enfermedades de origen pulpar.</p>
                </div>
            </div>
    
        
            <div class="periodoncia col-md-4" (click)="onActiveSixth()" [ngStyle]="{'height': getHeightSixth()}">
                <p class="title">PERIODONCIA</p>
                <div *ngIf="isActiveSixth">
                    <p class="hideSixth" >Esta relacionada con los tejidos que sostienen y protegen a nuestros 
                        dientes, una incorrecta higiene dental estimula la aparicion de estas enfermadades. 
                        En nuestra clinica contamos con tratamientos que pueden ayudar a eliminar tan indeseados 
                        problemas, porque tu sonrisa cuenta. Visitanos!!</p>
                </div>
            </div>
        </div>
</section>