<footer> 
    <h2 class="footer-especialidades">Horario</h2>
    <h2 class="footer-mapa">¿Como llegar?</h2>
    <p class="under-mapa"> Estamos en Avda. Ramón y Cajal, 62, 41005, Sevilla.<a href="https://www.google.es/maps/place/Cl%C3%ADnica+Dental+Dra.+Castellanos/@37.3753154,-5.9711821,17z/data=!4m12!1m6!3m5!1s0xd126e913e95f8ef:0xed9ecb095d021c56!2sCl%C3%ADnica+Dental+Dra.+Castellanos!8m2!3d37.3753154!4d-5.9689934!3m4!1s0xd126e913e95f8ef:0xed9ecb095d021c56!8m2!3d37.3753154!4d-5.9689934" target="_blank"> 
    Ver mapa.</a></p>
    <p class="under-especialidades">Lunes a Jueves <strong>10:00 a 2:00</strong> y de <strong>5:30 
    a 9:00</strong></p>
    <p class="viernes">Viernes <strong>10:00 a 2:00</strong> </p>
    <!--
    <h2 class="h2-especialidades">Nuestro consejo</h2>
    <p class="under-nuestroConsejo">Si tiene molestias o una idea concreta sobre lo que 
          crees que necesita, póngase en contacto con nosotros. Estamos para aclarar sus dudas 
          y encontrar juntos el camino adecuado en su tratamiento con nosotros.</p>
    <p class="sign-especialidades">Designed by YouAndEm</p>
    -->
</footer> 