
@media screen and (min-width: 320px){
    footer {
      height: 230px;
      width: 100%;
      margin-top: 20px;
      border-top: 2px solid #ff7373;
      border-bottom: 3px solid #ff7373;
    }

    footer p {
      color: #747573;
      margin-left: 20px;
    }

    footer h2 {
    color: #ff7373;
    font-weight:100;
    width: 150px;
    margin-left: 25px;
    border-bottom: 1px solid #ff7373;
  }
}
/*
@media screen and (min-width: 400px){
  footer {
    height: 200px;
  }

  footer h2 {
    width: 60px;
  }

  .footer-mapa {
    margin-right: 20px;
  }

  .under-mapa {
    margin-right: -20px;
  }

  .under-especialidades {
    margin-right: 0;
  }
}

@media screen and (min-width: 480px){
  .viernes {
    margin: 0;
  }

  .under-especialidades {
    margin-bottom: 0;
  }

  footer {
    height: 250px;
  }

}
*/
@media screen and (min-width: 660px){

  footer {
    width: 94.8%;
    margin-left: 16px;
  }

}
/*
@media screen and (min-width: 680px) {
  footer .footer-especialidades {
    width: 300px;
  }

  footer .footer-mapa {
    width: 300px;
    margin-right: 13%;
  }
}

@media screen and (min-width: 1093px) {
  footer .footer-mapa {
    margin-right: 10%;
  }

  footer .footer-especialidades {
    margin-left: 10%;
  }

  .under-especialidades {
    margin-top: 10px;
  }

  .under-mapa {
    margin-right: 0;
    margin-left: 0;
    padding-right: 60px;
  }
}

@media screen and (min-width: 1200px) {

  footer .footer-mapa {
    margin-right: 18%;
  }

  footer .under-mapa {
    margin-right: 10%;
  }
}
*/