  ul li .inUse {
  background-color: #ff7373;
  color: white;
}

  button {
    background-color: white;
    color: #ff7373;
    border: 1px solid #ff7373;
  }

@media screen and (min-width: 320px){
  nav {
    height: 45px;
    width: 400px;
    margin-left: 46px;
    -moz-margin-left: 46px;
    padding: 0;
    -moz-padding: 0;
    border-top: 1px solid #ff7373;
    border-bottom: 1px solid #ff7373;
  }
  
  nav ul {
    height: 45px;
    margin-left: 0;
    -moz-margin-left: 0;
    padding: 0;
    -moz-padding: 0;
  }

  ul li {
    height: 45px;
    display: inline-block;
  }

  ul li a {
    color: #ff7373;
    padding-bottom: 12px;
    -moz-padding-bottom: 12px;
    padding-right: 13px;
    -moz-padding-right: 13px;
  }

  ul li a:hover {
    color: white;
    background-color: #ff7373;
  }

}

@media screen and (min-width: 400px){
 
  nav {
    width: 480px;
  }

  ul li {
    text-align: center;
    font-weight: 100;
  }

  ul li a {
    color: #ff7373;
    text-decoration: none;
    padding-right: 20px;
  }
  
}

@media screen and (min-width: 480px){
  nav {
    margin-top: 37px;
    padding: 0;
    width: 660px;
  }

  nav ul {
    width: 100%;
  }
  
  nav ul li {
    text-align: center;
    height: 30px;
    margin-bottom: 0;
    padding-bottom: 10px;
  }
 
}

@media screen and (min-width: 660px){
  nav {
    padding-bottom: 40px;
    width: 100%;
  }

  nav ul {
    margin-top: 58px;
  }
}

