<nav>
    <div id="home-list">
        <ul>
            <li><a routerLink="/home" routerLinkActive="active">Inicio</a></li>
            <li><a routerLinkActive="inUse" routerLink="/especialidades">Especialidades</a></li>
            <li><a routerLinkActive="inUse" routerLink="/clinica">Clinica</a></li>
            <li><a routerLinkActive="inUse" routerLink="/personal">Personal</a></li>
            <li><a routerLinkActive="inUse" routerLink="/opinion">Denos su opinion</a></li>
        </ul>
    </div>
 </nav>