
body {
  margin-left:5%;
  margin-bottom: 40px;
  width: 90%;
  height:99%;
  border-right: 1px solid #747573;
  border-left: 1px solid #747573;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, .8);
}

#seccion {
  max-width: 940px;
  margin: 0 auto;
  padding: 0 5%;
}

.inUse {
  background-color: #ff7373;
  color: white;
}
