<div class="row">
    <header>
        <div class="row">
            <h3 id="telefono">Cita previa: 954 635 136</h3>
        </div>
        <a>
            <div class="row">
                <h1>Clínica Dental Castellanos</h1>
            </div>
            <div class="row">
                <h3 class="cuidados">Los cuidados que su boca necesita</h3>
            </div>
            <div class="row">
                <img class="muela-image" src="assets/images/header-image/IMG_3687.PNG">
            </div>
        </a>
        <div class="row">
            <app-nav></app-nav>
        </div>
    </header>
</div>