<section class="container">
    <h1 class="under-image">Bienvenidos</h1>
    <p class="bienvenida">Sabemos que su experiencia como paciente comienza en el momento 
  en que es recibido en nuestro centro, por lo que haremos todo lo que esté a 
  nuestro alcance para que se sienta relajado y cómodo. Nuestra clínica, además 
  de ofrecerle un entorno agradable y acogedor, cuenta con la ventaja de encontrarse 
  en una zona céntrica, privilegiada y dinámica de Sevilla, con sencillo acceso 
  en transporte público y aparcamientos en la zona. Nuestro centro está habilitado 
  en planta baja, para facilitar su comodidad y la de personas con minusvalías. 
  La amabilidad y el trato personalizado son nuestra prioridad.</p>
    <h3 class="doctora">Dra. Castellanos Cosano</h3>
    <h3 class="doctora">Dr. Marzo García</h3>
</section>